@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.todos-bg-container {
    background-color: #f1fbfe;
    height: 110vh;
    background-size: cover;
}

.todos-heading {
    font-size: 40px;
    font-weight: 500;
    color: black;
    text-align: center;
    font-family: "Roboto";
}

.create-element {
    font-weight: 700;
    font-size: 35px;
}

.todos-heading-task {
    font-size: 35px;
    font-weight: normal;
    color: black;
    font-family: "Roboto";
}

.todos-input-element {
    width: 95%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.add-button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.checkbox-lable {
    font-family: "Roboto";
    font-size: 20px;
    width: 82%;
    font-weight: 500;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lable-container {
    background-color: #feefff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-color: green;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.delete-icon {
    height: 20px;
    width: 20px;
    padding: 10px;
    cursor: pointer;
}

.todo-item-container {
    margin: 15px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.success {
    padding: 20px;
    font-family: Roboto;
    font-weight: 600;
    color: green;
    font-size: 20px;
}